---
import { slugifyTag } from '../utils/formatTags';
import FormattedDate from './FormattedDate.astro';
import type { CollectionEntry } from 'astro:content';
type BlogPost = CollectionEntry<'blog'>;
const { post }: Record<string, any> | { post: BlogPost } = Astro.props;
---

<div
	class='flex flex-col sm:flex-row gap-3 sm:items-center border-b py-3 mb-0.5 dark:border-b-zinc-600/70 hover:border-b-zinc-400 dark:hover:border-b-zinc-500 group transition-all duration-200'
>
	<div
		class='text-zinc-600 text-sm w-24 dark:text-zinc-400 shrink-0 group-hover:text-zinc-800 dark:group-hover:text-zinc-200 transition-colors duration-200'
	>
		<FormattedDate date={post.data.pubDate} />
	</div>
	<h3 class='font-medium grow group-hover:text-zinc-900 dark:group-hover:text-zinc-100 transition-colors duration-200'>
		<a href={`/${post.slug}/`} class='hover:no-underline'>
			{post.data.title}
		</a>
	</h3>
	<div class='flex gap-2 shrink-0'>
		{
			(post.data.tags || [])?.map((tag: string) => (
				<a
					class='border border-zinc-300 dark:border-zinc-700 rounded-full
                    text-xs text-zinc-600 dark:text-zinc-400 no-underline px-2 py-0.5
                    transition-all duration-200 opacity-80 group-hover:opacity-100
                    hover:border-zinc-500 dark:hover:border-zinc-500 hover:bg-zinc-50 dark:hover:bg-zinc-800/50'
					href={`/tags/${slugifyTag(tag)}`}>
					{tag} {/* Tag is already formatted by the schema transform */}
				</a>
			))
		}
	</div>
</div>
